*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#070B14;
color:#fff;
padding:20px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:25px;
gap:15px;
flex-wrap:wrap;
}

.logo{
display:flex;
align-items:center;
gap:10px;
}

.live{
background:#12d76e;
padding:6px 14px;
border-radius:20px;
font-size:12px;
font-weight:bold;
color:#fff;
}

.search input{
background:#111827;
border:none;
outline:none;
padding:12px 16px;
border-radius:14px;
color:#fff;
width:250px;
}

.stats{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:15px;
margin-bottom:30px;
}

.card{
background:#111827;
padding:20px;
border-radius:20px;
box-shadow:0 0 20px rgba(0,0,0,.35);
transition:.3s;
}

.card:hover{
transform:translateY(-5px);
}

.card h4{
color:#9CA3AF;
margin-bottom:10px;
}

.card h2{
font-size:26px;
}

.coin-list{
display:flex;
flex-direction:column;
gap:18px;
}

.coin{
display:flex;
justify-content:space-between;
align-items:center;
background:#111827;
padding:18px;
border-radius:18px;
transition:.3s;
}

.coin:hover{
background:#1F2937;
}

.left{
display:flex;
align-items:center;
gap:15px;
}

.left img{
width:50px;
height:50px;
border-radius:50%;
}

.name{
font-size:20px;
font-weight:600;
}

.symbol{
color:#9CA3AF;
font-size:14px;
}

.right{
text-align:right;
}

.price{
font-size:22px;
font-weight:700;
}

.green{
color:#10B981;
font-weight:bold;
}

.red{
color:#EF4444;
font-weight:bold;
}

@media(max-width:700px){

.search input{
width:100%;
}

header{
flex-direction:column;
align-items:flex-start;
}

.coin{
flex-direction:column;
align-items:flex-start;
gap:15px;
}

.right{
text-align:left;
}

}
